/**** Base styles ****/

* {
  margin: 0;
  padding: 0;
}

body {
  padding: 20px;
/*  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;*/
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 13px;
  line-height: 1.7em;
  background: #222;
  color: #FFF;
}

section, nav, header, footer {
  display: block;
}


h1, h2, h3, p, ul, ol, pre, dl {
  margin-bottom: 1.0em;
}

ul, ol {
  margin-left: 1.5em;
}


a {
  color: #FB4;
  text-decoration: none;
}


/**** Isotope styles ****/

/* required for containers to inherit vertical size from window */
html,
body {
  height: 100%;
}

.iso-container {
  background: transparent;
  border: 1px solid #FFF;
  padding: 5px;
  margin-bottom: 20px;
}

.element {
  width: 110px;
  height: 110px;
  margin: 5px;
  float: left;
  background: white;
  overflow: hidden;
  position: relative;
  color: #222;
  border-top-right-radius: 1.2em;
}

.xray .element {
  border-width: 5px;
  border-style: solid;
  width: 100px;
  height: 100px;
  background-color: hsla( 0, 0%, 14%, 0.8 ) !important;
}

.element.alkali          { background-color: hsl(   0, 100%, 50%); }
.element.alkaline-earth  { background-color: hsl(  36, 100%, 50%); }
.element.lanthanoid      { background-color: hsl(  72, 100%, 50%); }
.element.actinoid        { background-color: hsl( 108, 100%, 50%); }
.element.transition      { background-color: hsl( 144, 100%, 50%); }
.element.post-transition { background-color: hsl( 180, 100%, 50%); }
.element.metalloid       { background-color: hsl( 216, 100%, 50%); }
.element.other.nonmetal  { background-color: hsl( 252, 100%, 50%); }
.element.halogen         { background-color: hsl( 288, 100%, 50%); }
.element.noble-gas       { background-color: hsl( 324, 100%, 50%); }


.xray .element.alkali          { color: hsl(   0, 100%, 50%); background-color: inherit; }
.xray .element.alkaline-earth  { color: hsl(  36, 100%, 50%); background-color: inherit; }
.xray .element.lanthanoid      { color: hsl(  72, 100%, 50%); background-color: inherit; }
.xray .element.actinoid        { color: hsl( 108, 100%, 50%); background-color: inherit; }
.xray .element.transition      { color: hsl( 144, 100%, 50%); background-color: inherit; }
.xray .element.post-transition { color: hsl( 180, 100%, 50%); background-color: inherit; }
.xray .element.metalloid       { color: hsl( 216, 100%, 50%); background-color: inherit; }
.xray .element.other.nonmetal  { color: hsl( 252, 100%, 50%); background-color: inherit; }
.xray .element.halogen         { color: hsl( 288, 100%, 50%); background-color: inherit; }
.xray .element.noble-gas       { color: hsl( 324, 100%, 50%); background-color: inherit; }


.element * {
  position: absolute;
  margin: 0;
}

.element .symbol {
  left: 0.2em;
  top: 0.4em;
  font-size: 3.8em;
  line-height: 1.0em;
  color: #FFF;
}
.element.large .symbol {
  font-size: 4.5em;
}

.xray .element .symbol {
  left: 0.1em;
  top: 0.3em;
  color: inherit;
}
.xray .element.large .symbol {
  font-size: 4.2em;
}

.xray .element.fake {
  background-color: hsla( 0, 0%, 25%, 0.8 ) !important;
}

.element.fake .symbol {
  color: #000;
}

.xray .element.fake .symbol {
  color: inherit;
}


.element .name {
  left: 0.5em;
  bottom: 1.6em;
  font-size: 1.05em;
}

.element .weight {
  font-size: 0.9em;
  left: 0.5em;
  bottom: 0.5em;
}

.element .number {
  font-size: 1.25em;
  font-weight: bold;
  color: hsla(0,0%,0%,.5);
  right: 0.5em;
  top: 0.5em;
}
.xray .element .number { color: inherit; }

.variable-sizes .element.width2 { width: 230px; }
.variable-sizes.xray .element.width2 { width: 220px; }

.variable-sizes .element.height2 { height: 230px; }
.variable-sizes.xray .element.height2 { height: 220px; }

.variable-sizes .element.width2.height2 {
  font-size: 2.0em;
}

.element.large,
.variable-sizes .element.large,
.variable-sizes .element.large.width2.height2 {
  font-size: 3.0em;
  width: 350px;
  height: 350px;
  z-index: 100;
}
.xray .element.large,
.xray .variable-sizes .element.large,
.xray .variable-sizes .element.large.width2,
.xray .variable-sizes .element.large.height2 {
  width: 340px;
  height: 340px;
}

.clickable .element:hover {
  cursor: pointer;
}

.clickable .element:hover h3 {
  text-shadow:
    0 0 10px white,
    0 0 10px white
  ;
}

.clickable .element:hover h2 {
  color: white;
}

/**** CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
/*     -o-transition-duration: 0.8s;*/
          transition-duration: 0.8s;

}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
/*     -o-transition-property: height, width;*/
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
/*     -o-transition-property:      -o-transform, opacity;*/
          transition-property:         transform, opacity;
}

.isotope.no-transition,
.isotope.no-transition .isotope-item {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
/*     -o-transition-duration: 0s;*/
          transition-duration: 0s;
}

/**** Example Options ****/

#options {
  padding-bottom: 1.0em;
}

#options h3 {
  margin-bottom: 0.2em;
}

#options ul {
  margin: 0;
  list-style: none;
}

#options ul ul {
  margin-left: 1.5em;
}

#options .floated li {
  float: left;
}

.isotope-hidden {
  pointer-events: none;
}

#options li {
}

#options li a {
  display: inline-block;
  padding: 0.4em 0.5em;
  background-color: #AAA;
  color: #222;
  font-weight: bold;
  text-shadow: 0 1px hsla( 0, 0%, 100%, 0.5 );
  background-image: -moz-linear-gradient(-90deg, 
    hsla( 0, 0%, 100%, 0.3 ) , 
    hsla( 0, 0%, 100%, 0.0 ) 
  );
  background-image: -webkit-gradient(linear, 0 top, 0 bottom, 
    from( hsla( 0, 0%, 100%, 0.3 ) ), 
    to(   hsla( 0, 0%, 100%, 0.0 ) )
  );
    margin-bottom: 0.2em;
}

#options li a:hover {
  background-color: #5BF;
}

#options li a:active {
  background-color: #39D;
  -webkit-box-shadow: inset 0 2px 8px hsla( 0, 0%, 0%, 0.6 );
     -moz-box-shadow: inset 0 2px 8px hsla( 0, 0%, 0%, 0.6 );
       -o-box-shadow: inset 0 2px 8px hsla( 0, 0%, 0%, 0.6 );
          box-shadow: inset 0 2px 8px hsla( 0, 0%, 0%, 0.6 );
}

#options .floated li a {
  border-left:  1px solid hsla( 0, 0%, 100%, 0.3 );
  border-right: 1px solid hsla( 0, 0%,   0%, 0.2 );
}

#options .floated li:first-child a {
  border-radius: 7px 0 0 7px;
  border-left: none;
}

#options .floated li:last-child a {
  border-radius: 0 7px 7px 0;
}

#options .option-set li a.selected {
  background-color: #13F;
  text-shadow: none;
  color: white;
}

/**** Horizontal ****/

.horizontal .iso-container {
  height: 80%;
}

#copy {
  max-width: 640px;
}


/**** Docs ****/

body.doc {
  max-width: 640px;
}

.doc #content {
/*  font-size: 14px;
  line-height: 1.7em;*/
  margin-bottom: 20px;
}

.doc h2,
.doc footer {
  border-top: 1px solid #333;
  padding-top: 0.8em;
}

pre {
  padding: 10px;
}

pre, code {
  background: black;
  color: white;
  font-family: 'Monaco', monospace, sans-serif;
}

.doc #content code {
  font-size: 12px;
}

.doc #content pre {
  line-height: 1.6em;
}

h3#options {
  padding-bottom: 0;
}

.option-def dl {
/*  margin-top: 1.8em;*/
/*  padding-top: 0.5em;*/
/*  border-top: 1px solid #333;*/
}


.option-def dl dt,
.option-def dl dd {
  float: left;
  padding: 0 1.2em;;
  background: #161616;
/*  height: 2.0em;*/
  line-height: 36px;
  height: 36px;
}

.option-def dl.header dt,
.option-def dl.header dd {
  background: #444;
}

.option-def dl dt {
/*  font-size: 14px;*/
}

.option-def dl .option-type {
/*  width: 60px;*/
  font-size: 13px;
  color: #AAA;
  font-style: italic;
}

.option-def dl dd {
  border-left: 1px solid #222;
}



/**** Pygments ****/

code .s1,
code .s { color: #78BD55; } /* string */
code .mi, /* integer */
code .cp, /* doctype */
code .kc { color: #5298D4; } /*boolean*/
code .k { color: #E39B79; } /* keyword */
code .kd, /* storage */
code .na { color: #A9D866; } /* markup attribute */
code .p  { color: #EDB; } /* punctuation */
code .o  { color: #F63; }   /* operator */
code .nb { color: #AA97AC;} /* support */

/* comment */
code .c,
code .c1 { color: #666; font-style: italic; }

code .nt { color: #A0C8FC; } /* Markup open tag */

code .nf { color: #9EA8B8; } /* css id */
code .nc { color: #A78352; }  /* CSS class */
code .m  { color: #DE8E50; } /* CSS value */
code .nd { color: #9FAD7E; } /* CSS pseudo selector */

@media screen and (min-width: 768px) {

  body.doc {
    margin-left: 220px;
  }
  
  .doc nav {
    width: 200px;
    position: fixed;
    left: 10px;
  }

  .doc nav h1 {
    margin-top: 0;
  }

}

/**** Super list ****/

#super-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

#super-list li {
  display: inline-block;
  font-size: 28px;
  line-height: 1.2em;
  margin: 2px;
  font-weight: 300;
}

#super-list li.feature { background: #111; }
#super-list li span,
#super-list li a {
  display: block;
  padding: 0.2em 0.5em;
}
#super-list li a {
  color: #222;
/*  font-weight: bold;*/
}
#super-list li.doc  a { background: #3CF; }
#super-list li.demo a { background: #FC3; }

#super-list li a:hover,
#super-list li a.doc:hover,
#super-list li a.demo:hover {
  background: white;
}

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; }
.clearfix:after { clear: both; }
/* fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }


