
      <h3>Filters</h3>

      <ul id="filters" class="option-set clearfix" data-option-key="filter">
        <li><a href="#filter" data-option-value="*" class="selected">show all</a></li>
        <li><a href="#filter" data-option-value=".metal">metal</a></li>
        <li><a href="#filter" data-option-value=".transition">transition</a></li>
        <li><a href="#filter" data-option-value=".post-transition">post-transition</a></li>
        <li><a href="#filter" data-option-value=".nonmetal">nonmetal</a></li>
        <li><a href="#filter" data-option-value=".inner-transition">inner-transition</a></li>
        <li><a href="#filter" data-option-value=".alkali, .alkaline-earth">alkali and alkaline-earth</a></li>
        <li><a href="#filter" data-option-value=":not(.transition)">not transition</a></li>
        <li><a href="#filter" data-option-value=".metal:not(.transition)">metal but not transition</a></li>
      </ul>
