<h3>Sort</h3>

<ul id="sort" class="sort option-set">
  <li>
    <ul class="sort asc option-set floated clearfix">
      <li><a href="#original-order" class="selected">original-order (asc)</a></li>
      <li><a href="#name">name (asc)</a></li>
      <li><a href="#symbol">symbol (asc)</a></li>
      <li><a href="#number">number (asc)</a></li>
      <li><a href="#weight">weight (asc)</a></li>
      <li><a href="#category">category (asc)</a></li>
    </ul>
  </li>
  <li>
    <ul class="sort desc option-set floated clearfix">
      <li><a href="#original-order">original-order (desc)</a></li>
      <li><a href="#name">name (desc)</a></li>
      <li><a href="#symbol">symbol (desc)</a></li>
      <li><a href="#number">number (desc)</a></li>
      <li><a href="#weight">weight (desc)</a></li>
      <li><a href="#category">category (desc)</a></li>
    </ul>
  </li>
</ul>