
    <h3>Sort</h3>

    <ul id="sort-by" class="option-set clearfix" data-option-key="sortBy">
      <li><a href="#sortBy=original-order" data-option-value="original-order" class="selected" data>original-order</a></li>
      <li><a href="#sortBy=name" data-option-value="name">name</a></li>
      <li><a href="#sortBy=symbol" data-option-value="symbol">symbol</a></li>
      <li><a href="#sortBy=number" data-option-value="number">number</a></li>
      <li><a href="#sortBy=weight"  data-option-value="weight">weight</a></li>
      <li><a href="#sortBy=category" data-option-value="category">category</a></li>
      <li><a href="#sortBy=random" data-option-value="random">random</a></li>
    </ul>

    <h3>Sort direction</h3>

    <ul id="sort-direction" class="option-set clearfix" data-option-key="sortAscending">
      <li><a href="#sortAscending=true" data-option-value="true" class="selected">sort ascending</a></li>
      <li><a href="#sortAscending=false" data-option-value="false">sort descending</a></li>
    </ul>
