{% include html-head.html %}
  
  <nav id="docs-nav">
    <h1><a href="../">{{ site.name }}</a> Docs</h1>
    
    <ul>
      {% for doc in site.categories.docs reversed %}
        {% if page.title == doc.title %}
        <li class="current"><a href="#content">{{ doc.title }}</a>
          <ul class="toc">
            {% for item in page.toc %}
            <li><a href="#{{ item.anchor }}">{{ item.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
        {% else %}
        <li><a href="..{{ doc.url }}">{{ doc.title }}</a>
        {% endif %}
      {% endfor %}
    </ul>
    
  </nav> <!-- #docs-nav -->
  
  <section id="content">
    
    <h1>{{ page.title }}</h1>

    {{ content }}
    
    {% include footer.html %}
    
  </section> <!-- #content -->
  


  
</body>
</html>
