<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ page.title }}</title>
  
  <link rel="stylesheet" href="../css/style.css" type="text/css" media="screen" />

</head>
<body{% if page.body_class %} class="{{ page.body_class}}"{% endif %}>

  <section id="options">
    
    <h1>{{ page.title }}</h1>

    <h3>Filters</h3>
    
    <ul id="filters">
      <li><a href="#show-all">show all</a></li>
      <li><a href="#metalloid">metalloid</a></li>
      <li>
        <a href="#metal">metal</a>
        <ul>
          <li><a href="#alkali">alkali</a></li>
          <li><a href="#alkaline-earth">alkaline-earth</a></li>
          <li><a href="#lanthanoid">lanthanoid</a></li>
          <li><a href="#actinoid">actinoid</a></li>
          <li><a href="#transition">transition</a></li>
          <li><a href="#post-transition">post-transition</a></li>
        </ul>
      </li>
      <li>
        <a href="#nonmetal">nonmetal</a>
        <ul>
          <li><a href="#other">other</a></li>
          <li><a href="#halogen">halogen</a></li>
          <li><a href="#noble-gas">noble-gas</a></li>
        </ul>
      </li>
    </ul>


    <h3>Sort Ascending</h3>

    <ul id="sort-asc" class="sort asc options">
      <li><a href="#original-order">original-order</a></li>
      <li><a href="#name">name</a></li>
      <li><a href="#symbol">symbol</a></li>
      <li><a href="#number">number</a></li>
      <li><a href="#weight">weight</a></li>
      <li><a href="#category">category</a></li>
    </ul>

    <h3>Sort Descending</h3>

    <ul id="sort-desc" class="sort desc options">
      <li><a href="#original-order">original-order</a></li>
      <li><a href="#name">name</a></li>
      <li><a href="#symbol">symbol</a></li>
      <li><a href="#number">number</a></li>
      <li><a href="#weight">weight</a></li>
      <li><a href="#category">category</a></li>
    </ul>

    <h3>Layouts</h3>
  
    <ul id="layouts" class="options">
      <li><a href="#masonry">masonry</a></li>
      <li><a href="#clearFloat">clearFloat</a></li>
      <li><a href="#cellsByRow">cellsByRow</a></li>
      <li><a href="#masonryHorizontal" class="horizontal">masonryHorizontal</a></li>
      <li><a href="#fitColumns" class="horizontal">fitColumns</a></li>
      <li><a href="#cellsByColumn" class="horizontal">cellsByColumn</a></li>
    </ul>

    <h3>Etc</h3>

    <ul id="etc" class="options">

      <li id="toggle-sizes"><a href="#toggle-sizes">Toggle variable sizes</a></li>
      <li id="insert"><a href="#insert">Insert new elements</a></li>
      <li id="append"><a href='#append'>Append new elements</a></li>
      <li id="shuffle"><a href='#shuffle'>Shuffle</a></li>
    </ul>
  </section> <!-- #options -->

  

  {{ content }}
  
  <p id="xray"><a href='#xray'>Toggle X-ray mode</a></p>

  <script src="../js/jquery-1.4.4.min.js"></script>
  <script src="../src/mini-modernizr.js"></script>
  <script src="../src/jquery.opto-transform.js"></script>
  <script src="../src/jquery.smartresize.js"></script>
  <script src="../src/jquery.isotope.js"></script>
  <script src="../src/jquery.ui.widget.js"></script>
  <script src="../js/fake-element.js"></script>
  <script>


    $(function(){

      var $demo = $('#demo'),
          masonryLayout = true;

      // hacky way of adding random size classes
      $demo.find('.element').each(function(){
        if ( Math.random() > 0.6 ) {
          $(this).addClass('width2');
        }
        if ( Math.random() > 0.6 ) {
          $(this).addClass('height2');
        }
      });


      // console.log('starting')
      // console.time('initializeMe');
      $demo.isotope({
        itemSelector : '.element',
        // layoutMode : 'clearFloat',
        masonry : {
          columnWidth : 120
        },
        masonryHorizontal : {
          rowHeight: 120
        },
        cellsByRow : {
          columnWidth : 240,
          rowHeight : 240
        },
        cellsByColumn : {
          columnWidth : 240,
          rowHeight : 240
        },
        animationEngine : $.browser.opera ? 'jquery' : 'best-available',
        // animationEngine : 'jquery',
        getSortData : {
          symbol : function( $elem ) {
            return $elem.attr('data-symbol');
          },
          category : function( $elem ) {
            return $elem.attr('data-category');
          },
          number : function( $elem ) {
            return parseInt( $elem.find('.number').text(), 10 );
          },
          weight : function( $elem ) {
            return parseInt( $elem.find('.weight').text().replace( /[\(\)]/g, ''), 10 );
          },
          name : function ( $elem ) {
            return $elem.find('.name').text();
          }
        }
      });
      // console.timeEnd('initializeMe');


      $('#filters').find('a').click(function(){
        // get href attribute, minus the #, plus a . to make it a class
        var filterName = '.' + $(this).attr('href').slice(1);
        filterName = filterName === '.show-all' ? '*' : filterName;
        // var filterTest = 'filter ' + filterName;
        // console.time( filterTest );
        $demo.isotope({ filter: filterName })
        // console.timeEnd( filterTest );
        return false;
      });

      $('.sort a').click(function(){
        // get href attribute, minus the #
        var $this = $(this),
            sortName = $this.attr('href').slice(1),
            asc = $this.parents('.sort').hasClass('asc');
        // var sortTest = 'sort ' + sortName + ' ' + direction;
        // console.time( sortTest );
        $demo.isotope({ 
          sortBy : sortName,
          sortAscending : asc
        });
        // console.timeEnd( sortTest );
        return false;
      });

      // change size of clicked element
      $demo.find('.element').live('click', function(){
        $(this).toggleClass('large');
        // console.time('relayout');
        $demo.isotope('reLayout');
        // console.timeEnd('relayout');
      });

      // toggle variable sizes of all elements
      $('#toggle-sizes').find('a').click(function(){
        $demo
          .toggleClass('variable-sizes')
          .isotope('reLayout');
        return false;
      });

      var isHorizontal = false;

      // change layout
      $('#layouts a').click(function(){
        var mode = $(this).attr('href').slice(1);
            wasHorizontal = isHorizontal;
        isHorizontal = $(this).hasClass('horizontal');
        
        if ( wasHorizontal !== isHorizontal ) {
          // need to do some clean up for transitions and sizes
          var style = isHorizontal ? 
            { height: '80%', width: $demo.width() } : 
            { width: 'auto' };
          $demo.addClass('no-transition').css( style );
          setTimeout(function(){
            $demo.removeClass('no-transition').isotope({ layoutMode : mode });
          }, 100 )
        } else {
          // go ahead and apply new layout
          $demo.isotope({ layoutMode : mode });
          
        }
        
        return false;
      });


      $('#insert').find('a').click(function(){
        var i = Math.ceil( Math.random()*3 + 1 ),
            newEls = '';
        // window.console && console.log( i )
        while ( i-- ) {
          newEls += fakeElement.create();
        }
        var $newEls = $( newEls )
        // $demo.append( $newEls ).isotope( 'appendToLayout', $newEls );
        $demo.isotope( 'insert', $newEls );
        // $demo.append( $newEls ).isotope( 'addAtoms', $newEls ).isotope();
        // $demo.isotope()
        // console.log( next )

        return false;
      });

      $('#append').find('a').click(function(){
        var i = Math.ceil( Math.random()*3 + 1 ),
            newEls = '';
        while ( i-- ) {
          newEls += fakeElement.create();
        }
        var $newEls = $( newEls )
        $demo.append( $newEls ).isotope( 'appended', $newEls );

        return false;
      });

      $('#shuffle a').click(function(){
        $demo.isotope('shuffle');
        return false;
      });

      $('#xray').find('a').click(function(){
        $demo.toggleClass('xray');
      });

    });
  </script>

  
</body>
</html>
