{% include html-head.html %}

  <p id="demo-nav"><a href="../index.html">{{ site.name }}</a> Demo</p>

  <h1>{{ page.title }}</h1>

  <section id="options" class="clearfix">

    <h3>Filters</h3>

    <ul id="filters" class="option-set floated clearfix">
      <li><a href="#show-all" class="selected">show all</a></li>
      <li><a href="#metalloid">metalloid</a></li>
      <li><a href="#metal">metal</a></li>
      <li><a href="#alkali">alkali</a></li>
      <li><a href="#alkaline-earth">alkaline-earth</a></li>
      <li><a href="#inner-transition">inner-transition</a></li>
      <li><a href="#lanthanoid">lanthanoid</a></li>
      <li><a href="#actinoid">actinoid</a></li>
      <li><a href="#transition">transition</a></li>
      <li><a href="#post-transition">post-transition</a></li>
      <li><a href="#nonmetal">nonmetal</a></li>
      <li><a href="#other">other</a></li>
      <li><a href="#halogen">halogen</a></li>
      <li><a href="#noble-gas">noble-gas</a></li>
    </ul>

    {% include sort-buttons.html %}

    {% include layout-options.html %}

    <h3>Etc</h3>

    <ul id="etc" class="floated clearfix">

      <li id="toggle-sizes"><a href="#toggle-sizes">Toggle variable sizes</a></li>
      <li id="insert"><a href="#insert">Insert new elements</a></li>
      <li id="append"><a href='#append'>Append new elements</a></li>
      <!-- <li id="shuffle"><a href='#shuffle'>Shuffle</a></li> -->
    </ul>
  </section> <!-- #options -->

  

  {{ content }}
  
  {% include footer.html %}

  <script src="../js/jquery-1.4.4.min.js"></script>
  <script src="../{{ site.isotope_js }}"></script>
  <script src="../js/fake-element.js"></script>
  <script>


    $(function(){

      var $container = $('#container');

      // hacky way of adding random size classes
      $container.find('.element').each(function(){
        if ( Math.random() > 0.6 ) {
          $(this).addClass('width2');
        }
        if ( Math.random() > 0.6 ) {
          $(this).addClass('height2');
        }
      });


      $container.isotope({
        itemSelector : '.element',
        // layoutMode : 'fitRows',
        masonry : {
          columnWidth : 120
        },
        masonryHorizontal : {
          rowHeight: 120
        },
        cellsByRow : {
          columnWidth : 240,
          rowHeight : 240
        },
        cellsByColumn : {
          columnWidth : 240,
          rowHeight : 240
        },
        animationEngine : $.browser.opera ? 'jquery' : 'best-available',
        // animationEngine : 'jquery',
        getSortData : {
          symbol : function( $elem ) {
            return $elem.attr('data-symbol');
          },
          category : function( $elem ) {
            return $elem.attr('data-category');
          },
          number : function( $elem ) {
            return parseInt( $elem.find('.number').text(), 10 );
          },
          weight : function( $elem ) {
            return parseFloat( $elem.find('.weight').text().replace( /[\(\)]/g, '') );
          },
          name : function ( $elem ) {
            return $elem.find('.name').text();
          }
        }
      });


      $('#filters').find('a').click(function(){
        // get href attribute, minus the #, plus a . to make it a class
        var filterName = '.' + $(this).attr('href').slice(1);
        filterName = filterName === '.show-all' ? '*' : filterName;
        $container.isotope({ filter: filterName })
        return false;
      });

      {% include sort-buttons.js %}

      // change size of clicked element
      $container.find('.element').live('click', function(){
        $(this).toggleClass('large');
        $container.isotope('reLayout');
      });

      // toggle variable sizes of all elements
      $('#toggle-sizes').find('a').click(function(){
        $container
          .toggleClass('variable-sizes')
          .isotope('reLayout');
        return false;
      });

      {% include layout-change.js %}

      {% include add-buttons.js %}

      $('#shuffle a').click(function(){
        $container.isotope('shuffle');
        return false;
      });

      {% include option-buttons.js %}

    });
  </script>

  
{% include html-foot.html %}