---
layout: nil
title: Sorting
category: demos
---
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ page.title }}</title>
  
  <link rel="stylesheet" href="../css/style.css" type="text/css" media="screen" />

</head>
<body>

  <h1>{{ page.title }}</h1>
  
  <section id="copy">
    
    
  </section>
  
  <section id="options" class="clearfix">
    
    {% include sort-buttons.html %}

  </section> <!-- #options -->
  
  <div id="demo" class="iso-container variable-sizes">
    {% for element in site.elements_best_of %}
      {% include element-partial.html %}
    {% endfor %}
  </div> <!-- #demo -->
  
  <script src="../js/jquery-1.4.4.min.js"></script>
  <script src="../src/mini-modernizr.js"></script>
  <script src="../src/jquery.opto-transform.js"></script>
  <script src="../src/jquery.smartresize.js"></script>
  <script src="../src/jquery.isotope.js"></script>
  <script src="../src/jquery.ui.widget.js"></script>
  <script>
    $(function(){
      
      var $demo = $('#demo');

      
      $demo.isotope({
        itemSelector : '.element',
        animationEngine : $.browser.opera ? 'jquery' : 'best-available',
        getSortData : {
          symbol : function( $elem ) {
            return $elem.attr('data-symbol');
          },
          category : function( $elem ) {
            return $elem.attr('data-category');
          },
          number : function( $elem ) {
            return parseInt( $elem.find('.number').text(), 10 );
          },
          weight : function( $elem ) {
            return parseInt( $elem.find('.weight').text().replace( /[\(\)]/g, ''), 10 );
          },
          name : function ( $elem ) {
            return $elem.find('.name').text();
          }
        }
      });
      
      {% include sort-buttons.js %}
      
      {% include option-buttons.js %}
      
    });
  </script>
  
</body>
</html>