---
title: Basic
layout: demo
category: demos
related: etc
---
  
  <section id="copy">
    <p>This is a basic demo of Isotope. Resize the browser window to see the layout animate.</p>
  </section>
  
  <div id="demo" class="iso-container">
    {% for element in site.elements_ordered limit:20 %}
      {% include element-partial.html %}
    {% endfor %}
  </div> <!-- #demo -->
  
  <script src="../js/jquery-1.4.4.min.js"></script>
  <script src="../src/mini-modernizr.js"></script>
  <script src="../src/jquery.opto-transform.js"></script>
  <script src="../src/jquery.smartresize.js"></script>
  <script src="../src/jquery.isotope.js"></script>
  <script src="../src/jquery.ui.widget.js"></script>
  <script>
    $(function(){
      
      var $demo = $('#demo');
      
      $demo.isotope({
        itemSelector: '.element'
      });
      
    });
  </script>
  
</body>
</html>