---
title: Filtering
layout: default
category: demos
---

  <section id="copy">
    <p>Filtering hides and reveals item elements.</p>
    <p>See <a href="../docs/filtering.html">docs on filtering</a>.</p>
  </section>
  

  <section id="options" class="clearfix">
    
    {% include filter-buttons.html %}

  </section> <!-- #options -->
  
  <div id="container" class="clearfix">
    {% for elem_number in site.best_of_order %}
      {% assign element = site.elements[elem_number] %}
      {% include element-partial.html %}
    {% endfor %}
  </div> <!-- #container -->
  
  <script src="../{{ site.jquery_js }}"></script>
  <script src="../{{ site.isotope_js }}"></script>
  <script>
    $(function(){
      
      var $container = $('#container');

      $container.isotope({
        itemSelector : '.element'
      });
      
      {% include option-set-buttons.js %}
      
    });
  </script>
  
