---
title: Basic
layout: default
category: demos
---
  
  <section id="copy">
    <p>This is a basic demo of Isotope. Resize the browser window to see the layout animate.</p>
  </section>
  
  <div id="container">
    {% for element in site.elements limit:20 %}
      {% include element-partial.html %}
    {% endfor %}
  </div> <!-- #container -->
  
  <script src="../{{ site.jquery_js }}"></script>
  <script src="../{{ site.isotope_js }}"></script>
  <script>
    $(function(){
      
      var $container = $('#container');
      
      $container.isotope({
        itemSelector: '.element'
      });
      
    });
  </script>
  
