---
title: Filtering
layout: demo
category: demos
related: filtering
---

  <section id="copy">
    <p>Filtering hides and reveals item elements.</p>
    <p>See <a href="../docs/filtering.html">docs on filtering</a>.</p>
  </section>
  

  <section id="options" class="clearfix">
    
    <h3>Filters</h3>

    <ul id="filters" class="option-set floated clearfix">
      <li><a href="#filter" data-filter="*" class="selected">show all</a></li>
      <li><a href="#filter" data-filter=".metal">metal</a></li>
      <li><a href="#filter" data-filter=".transition">transition</a></li>
      <li><a href="#filter" data-filter=".post-transition">post-transition</a></li>
      <li><a href="#filter" data-filter=".nonmetal">nonmetal</a></li>
      <li><a href="#filter" data-filter=".inner-transition">inner-transition</a></li>
      <li><a href="#filter" data-filter=".alkali, .alkaline-earth">alkali and alkaline-earth</a></li>
      <li><a href="#filter" data-filter=":not(.transition)">not transition</a></li>
      <li><a href="#filter" data-filter=".metal:not(.transition)">metal but not transition</a></li>
    </ul>

  </section> <!-- #options -->
  
  <div id="container" class="clearfix">
    {% for elem_number in site.best_of_order %}
      {% assign element = site.elements[elem_number] %}
      {% include element-partial.html %}
    {% endfor %}
  </div> <!-- #container -->
  
  {% include base-scripts.html %}
  <script>
  
    var $container = $('#container');

    // filter buttons
    $('#filters a').click(function(){
      var selector = $(this).attr('data-filter');
      $container.isotope({ filter: selector });
      return false;
    });
    
    {% include option-buttons.js %}

    $(function(){

      $container.isotope({
        itemSelector : '.element'
      });
      
    });
  </script>
  
