---
title: Filtering
layout: demo
category: demos
related: filtering
---

  <section id="options" class="clearfix">
    
    <h3>Filters</h3>

    <ul id="filters" class="option-set floated clearfix">
      <li><a href="#filter" data-filter="*" class="selected">show all</a></li>
      <li><a href="#filter" data-filter=".metal">metal</a></li>
      <li><a href="#filter" data-filter=".transition">transition</a></li>
      <li><a href="#filter" data-filter=".post-transition">post-transition</a></li>
      <li><a href="#filter" data-filter=".nonmetal">nonmetal</a></li>
      <li><a href="#filter" data-filter=".inner-transition">inner-transition</a></li>
      <li><a href="#filter" data-filter=".alkali, .alkaline-earth">alkali and alkaline-earth</a></li>
      <li><a href="#filter" data-filter=":not(.transition)">not transition</a></li>
      <li><a href="#filter" data-filter=".metal:not(.transition)">metal but not transition</a></li>
    </ul>

  </section> <!-- #options -->
  
  <div id="container" class="iso-container">
    {% for element in site.elements_best_of %}
      {% include element-partial.html %}
    {% endfor %}
  </div> <!-- #container -->
  
  <script src="../js/jquery-1.4.4.min.js"></script>
  <script src="../src/mini-modernizr.js"></script>
  <script src="../src/jquery.opto-transform.js"></script>
  <script src="../src/jquery.smartresize.js"></script>
  <script src="../src/jquery.isotope.js"></script>
  <script src="../src/jquery.ui.widget.js"></script>
  <script>
    $(function(){
      
      var $container = $('#container');

      $container.isotope({
        itemSelector : '.element',
        animationEngine : $.browser.opera ? 'jquery' : 'best-available'
      });
      
      // filter buttons
      $('#filters a').click(function(){
        var selector = $(this).attr('data-filter');
        $container.isotope({ filter: selector });
        return false;
      });
      
      {% include option-buttons.js %}
      
    });
  </script>
  
